<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0">
  <meta name="description" content="Furora Media Ltd, A Web Development Consultancy based in Essex / London">
  <meta name="author" content="Furora Media Ltd">
  <meta name="theme-color" content="#7e4a97">
  <title>Contact form test</title>
  </head>
<body>
  <div id="app">
    <% body %>
  </div>
  <script src="/static/bundle.js?v=<%- process.env.DEPLOY_VERSION -%>"></script>

</body>
</html>
