
$white: #fff;
$raisin-black: #212121;
$glaucous-blue: #5775B9;
$celestrial-blue: #3996D3;
$linkedIn-blue: #007bb6;
$twitter-blue: #00aced;
$royal-purple: #6F57A1;
$eggshell: #EFE6DD;
$red: #e76049;
$grey: #f5f5f5;

$header-background-color: $raisin-black;
$footer-background-color: $royal-purple;

$cta-hover-color: $celestrial-blue;

$error-color: $red;
$border-color: $grey;
